{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Создать новую запись</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/css/edit.css' %}">
    <link rel="shortcut icon" href="{% static 'main/img/logo.svg' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
</head>

<body>

    <aside>
        <a href="{% url 'index' %}"><img src="{% static 'main/img/logo.svg' %}" alt="Лого"></a>
        <span class="logo">MusicBox</span>
        <h3>Изменение записи</h3>
       
    </aside>

    <main>
        <h1 class="text-center">Изменить существующую запись</h1>
        <div class="container mt-4">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="content">
                        <form method="post" enctype="multipart/form-data" class="rounded-border">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="artist" class="form-label">Изменение названия категории:</label>
                                {{form.name}} 
                            </div>
                            <button type="submit" class="btn btn-primary">Сохранить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>

</body>

</html>
