
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    height: 100%;
}

body {
    display: flex;
    background-color: #b8b5b5;
}

aside {
    height: auto;
    width: 250px;
    background-color: #343a40;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

aside img {
    width: 100px;
    margin-bottom: 20px;
}

aside .logo {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
}


aside h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

aside ul {
    list-style: none;
    padding: 0;
    padding-left: auto ;
    width: 100%;
}

aside ul li {
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

aside ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-align: center;
    border-radius: 5px;
    transition: background 0.3s;
}

aside ul li a:hover {
    background-color: #ff0000;
}

main {
    flex-grow: 1;
    padding: 20px;
    background-color: #f8f9fa;
    color: #343a40; 
    overflow-y: auto;
}

main h1 {
    font-family: Arial, sans-serif;
    font-weight: lighter;
    font-size: 2em;
    margin-bottom: 20px;
    color: #343a40;
    padding-top: 10px;
    padding-left: 20px;
}

main p {
    font-size: 1em;
    color: #6c757d;
    line-height: 1.6;
    white-space: pre-line;
}

form.rounded-border {
    border: 2px solid #ced4da;
    border-radius: 10px;
    padding: 20px;
    background-color: #ffffff;
}


form .form-control {
    background-color: #ffffff;
    color: #343a40;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

form .form-control:focus {
    background-color: #e9ecef;
    color: #343a40;
    border-color: #ff0000;
}

form label {
    color: #343a40;
}

form .btn-primary {
    background-color: #ff0000;
    border-color: #ff0000;
}

form .btn-primary:hover {
    background-color: #e60000;
    border-color: #e60000;
}

form .btn-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


main .card-title, main .card-text {
    color: #343a40;
}

.card-img-top {
    width: auto;
    height: auto;
    max-height: 300px;
    object-fit: cover;
}

.col-md-4 {
    width: 200px;
}

/* Сетка */
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
    background-color: #ffffff;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
}

.grid .song {
    display: contents;
}

.grid .lyrics {
    grid-column: 1;
}

.grid .translate_lyrics {
    grid-column: 2;
}

.grid .video {
    grid-column: 3;
    padding-right: 10px;
}

.header {
    background-color: #f8f9fa;
    width: 100vh;
    height: 100px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}

.header h1 {
    flex-grow: 1;
}


.iframe {
    border-radius: 50px;
}

@media (max-width: 768px) {
    body {
        flex-direction: column;
    }

    aside {
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
    }

    main {
        padding: 10px;
    }

    aside ul li {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

a {
    text-decoration: none;
}

.section-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-name {
    flex-grow: 1;
    text-align: left;
}

.action-icons {
    display: flex;
    align-items: center;
}

.card {
    width: 250px; 
    height: auto; 
    overflow: hidden; 
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
}

.card-img-top {
    height: 200px; 
    width: 200px;
    object-fit: cover;
}

.card-body {
    flex-grow: 1; 
}

.col-md-4 {
    display: flex; 
    justify-content: center; 
    margin-bottom: 20px;
}
.logo {
    padding-left: 15px;
}